@import "../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

#our-services {
    background: rgba(theme-color(primary), 0.02);

    @include media-breakpoint-up(md) {
        background: linear-gradient(
            to right,
            rgba(theme-color(primary), 0.02) 70%,
            rgba(theme-color(primary), 1) 70%,
            rgba(theme-color(primary), 1) 100%
        );
    }
}

.our-services {
    .card-title {
        margin-bottom: 2.5rem;
    }
    .services-card-body-text {
        margin-bottom: 2.5rem;
    }
    .list-group-item {
        display: flex;
        align-items: center;
    }

    .list-group-item,
    .card-body {
        padding: 0;
    }
    .list-group-item {
        padding-bottom: 1rem;
    }
    .list-group-item:last-child {
        padding: 0;
    }

    .services-btns-group {
        display: flex;
        flex-wrap: wrap;
    }
}
.services-btns-group > * {
    margin-right: 0.8rem !important;
    margin-bottom: 1.125rem !important;
}

.services-right-col {
    @include media-breakpoint-up(md) {
        margin-right: -5vw;
        margin-left: 5vw;
    }
}

.services-card {
    border: none;
    padding: 2.25rem 3.625rem 5.25rem 3.625rem;
    box-shadow: 0 1.875rem 3.75rem 0px rgba(theme-color(primary), 0.15);
    @include media-breakpoint-up(md) {
        min-width: 130%;
        padding-right: 40%;
    }
}
.services-card-icon {
    width: 6rem;
}
.services-card-checkmark {
    $icon-square-size: 2.5rem;
    border-radius: 0.8rem;
    width: $icon-square-size;
    height: $icon-square-size;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(#4bffa5, 0.15);
    color: #4bffa5;
    font-size: 1.375rem;
}
