$theme-colors: (
  "primary": #0e77ff,
  "primary-lighter": #16b2ff,
  "primary-background": rgba(#0e77ff, 0.02),
);
// $enable-responsive-font-sizes: true;
$font-family-base: Poppins;
$font-size-base: 1rem;
$h2-font-size: $font-size-base * 2.2;
