@import "../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
.cards-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 116.25rem;
    margin: 0 auto;
}
.cards-group-item {
    width: 90%;
    margin: 2rem 0;
    max-width: 32.375rem;
}

@include media-breakpoint-up(md) {
    .cards-group {
        justify-content: center;
    }
    .cards-group-item {
        width: 80%;
    }
}
@include media-breakpoint-up(lg) {
    .cards-group {
        justify-content: space-evenly;
    }
    .cards-group-item {
        width: 45%;
    }
}
@include media-breakpoint-up(xl) {
    .cards-group-item {
        width: 30%;
    }
}
