@import "../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.hero {
    width: 100%;
    min-height: 70vh;
    background-size: auto;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;

    background-position: 30% 62%;
    @include media-breakpoint-up(lg) {
        min-height: 100vh;
        background-position: 30% 54%;
    }
}
.hero .container {
    margin-bottom: 8rem;
}
.hero-content {
    max-width: 50rem;

    text-align: center;
    @include media-breakpoint-up(md) {
        text-align: unset;
    }
}
