@import "../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.case-studies {
    position: relative;
    background-color: rgba(theme-color(primary), 0.02);
    background-image: url(../../images/vectors/plane.svg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.case-studies-decoration-pattern {
    position: absolute;
    top: -15rem;
    right: calc(0% - 15rem);

    transform: rotate(-90deg);
    z-index: 10;
    max-height: 36.25rem;
    height: 70%;
    overflow: hidden;
    img {
        width: 100%;
        margin-bottom: 15rem;
    }
    display: none;
    @include media-breakpoint-up(lg) {
        display: inline-block;
    }
}
