@import "../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.case-studies {
    position: relative;
    padding: 12.5rem 0;
    background-color: rgba(theme-color(primary), 0.02);
    background-image: url(../../images/vectors/plane.svg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.case-studies-decoration-pattern {
    position: absolute;
    top: -15rem;
    right: -15rem;
    transform: rotate(90deg);
}
