@import "../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
.social-btn {
    $social-btn-size: 2.25rem;
    width: $social-btn-size;
    height: $social-btn-size;
    border-radius: 50%;
    border: solid 0.125rem theme-color("white");
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: theme-color("white");
    &:hover {
        text-decoration: none;
    }
}
