@use "sass:map";
@import "../sass/variables";
@import "~bootstrap/scss/bootstrap";
html {
    @media (max-width: 720px) {
        // font-size: 75%;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
h1 {
    line-height: 1.1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}
h2 {
    margin-bottom: 1.25rem;
}
a {
    font-size: $font-size-lg;
}
.lead {
    font-weight: 300;
    line-height: 2;
}
/**
----------------------
 Utils
----------------------
*/
.font-weight-semibold {
    font-weight: 600;
}
.rounded-full {
    border-radius: 5000px !important;
}
/**
----------------------
 Overrides
----------------------
*/
.btn {
    border-radius: 1rem;
    padding: 1rem 1.75rem;
}
.btn-lg {
    padding: 1.25rem 2.5rem;
    line-height: 1;
    border-width: 0.125rem;
}
.container {
    max-width: 85rem;
}
.list-group-item {
    border: none;
}

/**
----------------------
 Custom classes
----------------------
*/
.text-lg {
    font-size: $font-size-lg;
}
.text-xl {
    font-size: $font-size-xl;
}
.text-2xl {
    font-size: $font-size-2xl;
}

.icon-square {
    $icon-square-size: 2.5rem;
    border-radius: 0.8rem;
    width: $icon-square-size;
    height: $icon-square-size;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.icon-square-success {
    background: rgba(#4bffa5, 0.15);
    color: #4bffa5;
    font-size: 1.375rem;
}

.theme-items-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.theme-items-col {
    width: 90%;
    margin: 2rem 0;
}

@include media-breakpoint-up(md) {
    .theme-items-grid {
        justify-content: center;
    }
    .theme-items-col {
        width: 80%;
    }
}
@include media-breakpoint-up(lg) {
    .theme-items-grid {
        justify-content: space-around;
    }
    .theme-items-col {
        width: 45%;
    }
}
@include media-breakpoint-up(xl) {
    .theme-items-col {
        width: 30%;
        max-width: 32.375rem;
    }
}
