@import "../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
.button-with-opacity {
    & {
        background-color: rgba(
            map-get($map: $theme-colors, $key: primary-lighter),
            0.09
        );
        color: map-get($map: $theme-colors, $key: primary);
        border: none;
    }
    &.active,
    &:focus,
    &:active,
    &:hover {
        background-color: rgba(map-get($map: $theme-colors, $key: primary), 1);
        color: $white;
    }
}
