@import "../../sass/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.contacts {
    padding-bottom: 0;
    position: relative;
    overflow: unset;
    background: url(../../images/vectors/footer.svg) left 0% / 100% auto
        no-repeat;
    padding-top: 20rem;
    @include media-breakpoint-up(md) {
        background: url(../../images/vectors/footer.svg) left 101% / 50%
                no-repeat,
            linear-gradient(
                135deg,
                rgba(theme-color("white"), 1) 80%,
                rgba(theme-color(primary), 1) 80%,
                rgba(theme-color(primary), 1) 100%
            );
        padding-top: unset;
    }
}
.contacts-decoration-triangle {
    position: absolute;
    top: -3rem;
    left: 17%;
    z-index: 0;
    width: 8rem;
    img {
        width: 100%;
    }
    display: none;
    @include media-breakpoint-up(lg) {
        display: inline-block;
    }
}

.contact-form {
    background: theme-color("white");

    margin-left: auto;
    box-shadow: 0 40px 60px rgba(theme-color(primary), 0.15);
    position: relative;
    bottom: -5rem;
    padding: 6.25rem 2.375rem;
    padding-bottom: 2.625rem;

    border-radius: 0.375rem;

    @include media-breakpoint-up(sm) {
        padding: 6.25rem 5.375rem;
    }
    @include media-breakpoint-up(md) {
        max-width: 46.75rem;
    }

    .contact-form-title {
        margin-bottom: 2.875rem;
    }

    .form-group {
        margin-bottom: 2.875rem;
    }

    .form-control {
        border: none;
        border-bottom: solid 0.125rem theme-color(dark);
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .form-control:focus,
    .form-control:active {
        outline: none !important;
        border-color: theme-color(primary);
    }
    .is {
        &-valid {
            border-color: theme-color(success) !important;
        }
        &-invalid {
            border-color: theme-color(danger) !important;
        }
        &-valid-checkbox {
            color: theme-color(success) !important;
        }
        &-invalid-checkbox {
            color: theme-color(dagner) !important;
        }
    }

    &-checkbox {
        label::after,
        label::before {
            width: 1.75rem;
            height: 1.75rem;
            left: -2.5rem;
            top: 0.25rem;
        }
        label {
            margin-left: 1rem;
            display: flex;
        }
    }
}
